ETHERSCAN_API_KEY = ABSD123...
BSCSCAN_API_KEY = ABSD123...
MNEMONIC = "one two three ..."
INFURA_ID_PROJECT = "abcd1234..."

DEPLOY_GAS_LIMIT = 7000000
DEPLOY_GAS_PRICE = 150

VAULT=0x5FbDB2315678afecb367f032d93F642f64180aa3
